APP_PORT =

#DATABASE
DB_HOST =
DB_PORT =
DB_USER =
DB_PASS =
DB_NAME =

SECRET_KEY =
EXPIRE_TIME =
REFRESH_KEY =
REFRESH_EXPIRE_TIME =

#COOKIE
COOKIE_KEY =

#PASS
EMAIL =
APP_PASS =

#SIGNED
SIGN_URL_SECRET =

#BASE URL
BASE_URL =