<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/auth.style.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700;800&family=Barlow:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>

    {{!-- {{> header}} --}}
    <main>
        {{{body}}}
    </main>

    {{!-- {{> footer}} --}}

</body>
</html>